pkgbase = neoldg-git
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/RiskAndReward1337/NeoLDG
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = qt6-serialport
	source = neoldg-git::git+https://github.com/RiskAndReward1337/NeoLDG
	source = socat.patch
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = neoldg-git
